body{
    background-color: #000;
    color: #f1faee;
    font-family: "Roboto Condensed", sans-serif;
}
section{
    width: 300px;
    background-color: #1F2937;
    margin: 20px auto;
    border-radius: 4px;
}
span{
    display: block;
    color: #faa307;
}
#genetor-btn{
    background-color: #10B981;
    border: none;
    border-radius: 4px;
    border: 1px solid #2F3E53
}
