body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1D3557;
}
#section1{
    background-image: url("./images/book_reader.png");
    background-size: cover;
    height: 50vh;
    color: white;
    text-shadow: 0 0 3px black;
    text-align: center;
}
#section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2-controls{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.section2-part{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section2-part img{
    width: 150px;
    border-radius: 100%;
    height: 150px;
    background-color: #F1FAEE;
}
.section3{
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    background: linear-gradient(pink,blue);
    display: flex;
    align-items: center;
}

.section3 img{
    width: 100px;
    height: 150px;
    margin-right: 20px;
}